* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

.app {
  display: flex;
  flex-direction: column;
}

.loading {
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  width: 100%;
  min-height: calc(100vh - 100px);
  background: #222;
}

.loader {
  border-top: 16px solid #ff6766;
  border-radius: 75%;
  width: 350px;
  height: 350px;
  animation: spin 1.5s linear infinite;
  margin-bottom: 50px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
