.modal {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &_content {
    &__active {
      animation-duration: 0.55s;
      animation-fill-mode: both;
      animation-name: fadeInDown;
      display: flex;
      flex-direction: row;
      padding: 60px;
      width: 1170px;
      height: 694px;
      background: #333333;
      border-radius: 50px;
      opacity: 1;
      color: #fff;
      pointer-events: all;
    }
  }
  &__active {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    height: 100vh;
    width: 100%;
    padding-top: 85px;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 1;
    pointer-events: all;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  font-size: 36px;
  padding-bottom: 20px;
  .anime {
    display: flex;
    padding-bottom: 30px;
    &__poster_block {
      display: flex;
      flex-direction: column;
    }
    &__poster {
      width: 320px;
      height: 455px;
      border-radius: 14px;
      margin-right: 58px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__title_line {
      display: inline-block;
      padding-bottom: 10px;
      width: 100%;
      text-align: center;
    }
    &__title {
      font-weight: bold;
      margin-bottom: 15px;
    }
    &__close_btn {
      font-size: 32px;
      background-color: #222;
      width: 46px;
      height: 40px;
      border-radius: 20px;
      margin-top: -45px;
      margin-left: -40px;
      margin-bottom: 5px;
      transition: transform 1s;
    }
    &__close_btn:hover {
      transform: rotate(360deg);
    }
    &__description {
      display: -webkit-box;
      -webkit-line-clamp: 10;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      overflow: hidden;
      font-weight: 400;
      font-size: 19px;
      text-overflow: ellipsis;
      -ms-text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
    }
    &__start {
      font-size: 26px;
      margin-bottom: 15px;
    }
    &__genres {
      font-size: 24px;
      margin-bottom: 10px;
    }
  }
  .options {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    &__btn {
      font-weight: 400;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      color: #fff;
      cursor: pointer;
      width: 130px;
      height: 65px;
      border-radius: 30px;
      border: 4px solid #222222;
      background-color: #333333;
      transition: transform 250ms;
      &_active {
        background-color: #222222;
        color: #dbc5c5;
        border: 2px solid #fff;
        pointer-events: none;
        transform: scale(1.1);
      }
    }

    &__btn:hover {
      transform: translateY(-6px);
    }

    &__icon {
      height: 50px;
      width: 50px;
    }
  }
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0px, -100%, 0px);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
