.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  justify-content: flex-start;
  font-size: 36px;
  transition: 0.8s;

  .anime {
    display: flex;
    padding: 10px 50px 15px 50px;
    cursor: pointer;
    transition: 0.8s;
    cursor: cursor;

    &__poster_block {
      display: flex;
      flex-direction: column;
    }
    &__poster {
      width: 250px;
      height: 350px;
      border-radius: 14px;
      margin-right: 58px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
    &__title_line {
      width: 100%;
      text-align: center;
      padding-bottom: 10px;
    }
    &__title {
      font-weight: bold;
      cursor: text;
    }

    &__description {
      display: -webkit-box;
      -webkit-line-clamp: 7;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      cursor: text;
    }
    &__start {
      font-size: 26px;
      margin-bottom: 15px;
      cursor: text;
    }
    &__genres {
      font-size: 24px;
      margin-bottom: 10px;
      cursor: text;
    }
  }
}
.wrapper:hover {
  background: rgba(201, 192, 192, 0.15);
  border-radius: 20px;
}

hr {
  width: 90%;
  margin-left: 5%;
}
